* {
  padding: 0;
  margin: 0;
}
.header-img{
  width: 250px;
}
header {
  padding: 20px 0;
}
nav{
  display: flex;
}

.container-nav {
flex: 1;
}

nav ul{
  flex: 1;
  display: flex;
  /* gap: 20px; */
  align-items: center;
  justify-content: space-around;
}
a {
  font-size: 14px;
    color: #000;
    font-family: Karla,sans-serif;
    font-weight: 700;
    list-style: none;
    text-decoration: none;
}
li{
  list-style: none;
}

.hero-container {
  background-color: #495e57;
  display: flex;
  padding: 40px;
  justify-content: space-between;

}

.hero-sec01{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 50%;

}

.hero-img {
  width: 350px;
  border-radius: 20px;
  margin-bottom: -100px;
  margin-right: 100px;
}
.title-01 {
    font-family: Markazi Text,serif;
    color: #f4ce14;
    font-size: 60px;
    font-weight: 700;
}

h4 {
  font-family: Markazi Text,serif;
  color: #fff;
  font-size: 30px;
}

p{
  color: #fff;
    font-family: Karla,sans-serif;
    font-size: 22px;
    margin: 20px 0;
}

.btn-hero{
    background-color: #f4ce14;
    border: none;
    border-radius: 2em;
    box-shadow: 3px 3px 15px rgba(0,0,0,.2);
    color: #000;
    font-family: Karla,sans-serif;
    font-size: 18px;
    font-weight: 700;
    height: 3em;
    width: 12em;
    cursor: pointer;
}

.btn-hero:hover {
  background-color: #000;
  color: #f4ce14;
}

.specials-container {
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
}
.title-02 {
  text-align: center;
  color: #000;
    font-family: Markazi Text,serif;
    font-size: 48px;
    margin: 2em 1em;
}

.highlights-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
}

.special-container{
  display: flex;
  gap: 40px;
}

.card p {
  color: #000;
  font-size: 14px;
  font-family: Karla,sans-serif;
}

.card {
    background-color: #f2efef;
    font-family: Karla,sans-serif;
    box-shadow: 5px 10px 20px #ccc;
    height: 250px;
    line-height: 1.8em;
    margin-right: 0;
    padding: 0;
    border-radius: 20px;
    width: 300px;
    min-height: 520px;
    overflow: hidden;

}

.img-spc {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 0;
  margin-top: 0;
  width: 100%;
}

.content-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.btn-card {
  padding: 10px 10px;
  border-radius: 20px;
  background-color: #f4ce14;
  font-family: Karla,sans-serif;
  font-size: 16px;
  font-weight: 700;
  border: none;
  color: #000;
}

.btn-card:hover {
  background-color: #000;
  color: #f4ce14;
  cursor: pointer;
}

.card h4 {
  color: #333;
}

.title-sec-card {
  display: flex;
  justify-content: space-between;
}

.title-sec-card h5{
  font-size: 24px;
  font-family: Karla,sans-serif;
  color: #333;
}

.testimonials-container {
  margin: 100px 0;
  height: 500px;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonials-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.testimonial-card {
  display: flex;
  align-items: center;
  padding: 20px;
  height: 150px;
  width: 300px;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 20px;
  gap: 20px;
}

.title-testimonials h2 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: Markazi Text,serif;
  text-align: center;
}

.title-testimonials h5 {
  color: #fff;
  font-size: 1rem;
  margin-bottom: 50px;
  font-family: Karla,sans-serif;
  font-weight: 400;
  text-align: center;
}

.img-testi {
  width: 70px;
  border-radius: 100%;
}

.testimonial-card h3 {
  font-size: 1.5rem;
  font-family: Markazi Text,serif;
}

.texts-testi {
  margin-top: 20px;
  gap: 2px;
}

.texts-testi p {
  color: #000;
  font-size: 14px;
  font-family: Karla,sans-serif;
  margin: 10px 0;
}

.rating {
  width: 100px;
}

.about-container {
  width: 100%;
  margin: 40px;
  margin-left: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}

.img-02 {
  width: 420px;
  border-radius: 20px;

}
.texts-about {
  width: 50%;

}

.texts-about p {
  color: #333;
  font-size: 16px;
  font-family: Karla,sans-serif;
}

.texts-about h2 {
  color: #333;
  font-size: 2rem;
  font-family: Markazi Text,serif;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  background-color: hsl(96, 100%, 85%);
}

.footer-container p {
  color: #333;
  text-align: center;
  font-size: 16px;
  font-family: Karla,sans-serif;
}

.footer-container li {
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #495e57;
  width: 100%;
  padding: 100px 0;
}

label {
  color: #fff;
  font-family: Markazi Text,serif;
  font-size: 1.2rem;
  font-weight: 600;
}

.btn-form {
  padding: 10px;
  background-color: #f4ce14;
  color: #000;
  border-radius: 20px;
  font-family: Karla,sans-serif;
  border: none;
}

.btn-form:hover{
  background-color: #000;
  color: #f4ce14;
  cursor: pointer;
}